:root{
    --logoColor : #0454cc;
    --NavBg : #fffeff;
    --topProfileBg : #ffffff;
    --borderColor : #f7f7f7;
    --NavItemColor : #666769;
    --lightBlue :#c6def3;
    --hoverBg : #eff6fe;
    --hoverColor : #78a2d8;
    --textColor : #111822;
    --Color : #b9bfcb;
}